<h1> All places where you can do <%= @category.name.downcase %>:</h1>
<div>
  <% @category.activities.each do |activity| %>
      <% if activity.image.attached? %>
        <div class="category_images">
          <%= link_to activity.name, activity_path(activity.id) %>
          <a href="<%=activity_path(activity)%>" ><%= image_tag(activity.image, :size => "304x236") %></a></div>
      <% end %>

  <% end %>

</div>


<div>
  <%= link_to "Edit this category", edit_category_path %>
</div>

<div>
  <%= button_to "Delete this category", @category, method: "delete"%>
</div>


<div>
  <%= link_to "All activities", activities_path %>
</div>
