<h1> <%= @category.name %></h1>

<h3>Activities: </h3>
<div>
  <% @category.activities.each do |activity| %>
      <%= link_to activity.name, activity_path(activity.id) %>
  <% end %><br><br>
</div>

<div>
  <%= link_to "Edit this category", edit_category_path %>
</div>

<div>
  <%= button_to "Delete this category", @category, method: "delete" %>
</div>

<div>
  <%= link_to "All categories", categories_path %>
</div>
