<h1> <%= @activity.name %></h1>
<div>
  <% @activity.places.each do |place| %>

      <p><%= link_to place.city, place_path(place.id) %></p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this activity", edit_activity_path %>
</div>

<div>
  <%= button_to "Delete this activity", @activity, method: "delete"%>
</div>


<div>
  <%= link_to "All activities", activities_path %>
</div>
