<h1> All places where you can do <%= @activity.name.downcase %>:</h1>
<div>
  <% @activity.places.each do |place| %>
      <% if place.image.attached? %>
        <div class="category_images">
          <%= link_to place.city, place_path(place.id) %>
          <a href="<%=place_path(place)%>" ><%= image_tag(place.image, :size => "304x236") %></a></div>
      <% end %>

  <% end %>

</div>


<div>
  <%= link_to "Edit this activity", edit_activity_path %>
</div>

<div>
  <%= button_to "Delete this activity", @activity, method: "delete"%>
</div>


<div>
  <%= link_to "All activities", activities_path %>
</div>
