<div class="container">
  <% if @place.image.attached? %>
    <p>
      <%= image_tag(@place.image, :size => "304x236") %>
    </p>
  <% end %>
</div>

<h2> Activities for <%= @place.city %> </h2>
<% @place.activities.each do |activity| %>
  <h4>
   <%= link_to activity.name, activity_path(activity.id) %>
   </h4>
<% end %>




<div>
  <%= link_to "Edit this place", edit_place_path %>
</div>

<div>
  <%= button_to "Delete this place", @place, method: "delete" %>
</div>

<div>
  <%= link_to "All places", places_path %>
</div>
