<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travel Organizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TravelOrganizer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="<%=places_path%>">Places</a></li>
      <li><a href="<%=activities_path%>">Activities</a></li>
      <li><a href="<%=categories_path%>">Categories</a></li>
    </ul>
    <a href="<%=new_activity_path%>"><button class="btn btn-danger navbar-btn">New Event</button></a>

    <div class="login">
      <% if session.has_key? "user_id" %>
        <p>Welcome, <%= current_user.username.capitalize %></p>
        <p class="right"><%= link_to "Log Out", logout_path %></p>
      <% else %>
        <p> <%= link_to "Log In", login_path %></p>
      <% end %>
    </div>

  </div>
</nav>

<div class="container-fluid text-center">
<%= yield %>
</div>

</body>
</html>
